.activities-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.no-results {
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.activity-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 220px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: #fff;
    float: left;
    margin: 15px 15px 15px 15px;
    height: 250px;
}

.activity-card:hover {
    transform: translateY(-5px);
}

.activity-image {
    /* Customize the image size and styling if applicable */
}

.activity-details {
    padding-top: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #007BFF;
}

.rating {
    font-size: 14px;
    color: #666;
}

.supplier {
    font-size: 14px;
    color: #666;
}
